.post-card-list--projects {
  align-items: baseline;
  gap: 2rem;
}

/* .post-card-list--projects::after {
  content: "";
  flex: 999 0 16rem;
} */

.post-card-list--projects .post-card {
  flex: 0 0 16rem;
  max-width: 21rem;
}

.post-card--projects {
  background: transparent;
}

.post-card--projects .post-card__body {
  padding: 0.75rem 0 0;
  gap: 0.75rem;
}

.post-card--projects .post-card__summary {
  color: var(--secondary-gray);
}

.post-card--projects .post-card__tags {
  display: flex;
  gap: 0.4rem;
}

.post-card--projects .post-card__tag {
  padding: 0.125rem 0.65rem;
  border: none;
  border-radius: 0.45em;
  background-color: var(--secondary-bg);
  color: var(--primary-bg);
  font-family: var(--font-body);
  font-size: var(--text-xs);
  font-weight: var(--font-light);
  line-height: 1.4;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .post-card-list--projects .post-card {
    flex-basis: 14rem;
  }
}

@media (max-width: 768px) {
  .post-card-list--projects {
    gap: 1.5rem;
  }

  .post-card-list--projects .post-card {
    flex: 1 0 12rem;
  }

  .post-card--projects .post-card__body {
    padding-top: 0.5rem;
  }
}
