/* Global reset to build on consistent defaults */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: var(--primary-bg, #ffffff);
  color: var(--secondary-gray, #344054);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ul,
ol {
  list-style: none;
} */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

code {
  font-family: D2Coding, "D2 coding", monospace;
}
