:root {
  /* --primary-bg: #ffffff; */
  --primary-bg: #f5f5dc;
  --secondary-bg: #a09b88;
  --primary-gray: #101828;
  --secondary-gray: #344054;
  --tertiary-gray: #475467;
  --quaternary-gray: #667085;

  --header-height: 4rem;
  --layout-max-width: 70rem;
  --layout-padding-inline: 3rem;

  --primary-200: #88d9f8;
  --primary-300: #5dcaf5;
  --primary-400: #27b3f4;
  --primary-500: #1a91d1;
  --highlight: #afd87c;

  --font-heading: "Pretendard Variable";
  --font-body: "Pretendard Variable";
  --font-light: 300;
  --font-medium: 500;
  --font-bold: 700;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.3rem;
  --text-3xl: 1.45rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.75rem;
  --text-6xl: 3rem;
}

.dark {
  --primary-bg: #101828;
  --secondary-bg: #191c23;
  --primary-gray: #ffffff;
  --secondary-gray: #f2f4f7;
  --tertiary-gray: #e4e7ec;
  --quaternary-gray: #d0d5dd;
}
